* {
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.ns-menu {
    min-height: 9vh;
}

.ns-nav-bg-white {
    background-color: #fdfdfd;
}

.ns-nav-bg-blue {
    background-color: #01b9e9;
}

.ns-nav-bg-green {
    background-color: #79c04a;
}

.ns-nav-bg-pink {
    background-color: #ee4475;
}

.ns-nav-bg-yellow {
    background-color: #ffd23f;
}

.ns-nav-bg-purple {
    background-color: #676bb0;
}
